<body>


  <h1>"Create a Team and Heroes!"</h1>
    <form class="" action="/team" method="post">
      <p><input type="text" name="" value=""></p>
      <p><input type="text" name="" value=""></p>

      <p><input type="text" name="" value=""></input></p>
      <p><input type="text" name="" value=""></input></p>
      <p><input type="text" name="" value=""></input></p>

      <p><input type="text" name="" value=""></input></p>
      <p><input type="text" name="" value=""></input></p>
      <p><input type="text" name="" value=""></input></p>

      <p><input type="text" name="" value=""></input></p>
      <p><input type="text" name="" value=""></input></p>
      <p><input type="text" name="" value=""></input></p>

      <input type="submit" name="" value="submit">
    </form>
</body>
